[submodule "content/specs"]
	path = content/specs
	url = https://github.com/agriyakhetarpal/scientific-python-specs
	branch = spec-14
[submodule "themes/scientific-python-hugo-theme"]
	path = themes/scientific-python-hugo-theme
	url = https://github.com/agriyakhetarpal/scientific-python-hugo-theme
	branch = spec-14

